.body{

    transition: all 0.3s ease-in-out 0s;
    transition: all .3s ease 0s;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;          
}

a{
    text-decoration: none;
}
form{
    position: absolute;
    top: 8%;
    right: -10%;
    width: 500px;
}
form input{
    border: 1px solid #2a4359;
    outline: none;
    text-transform: uppercase;
    font-size: 10px;
    padding: 2% 2% 2% 5%;
    border-radius: 100px 0 0 100px;
}
form button{
    border: 1px solid #f2f3f2;
    background-color:#daa442;
    text-transform: uppercase;
    font-size: 10px;
    color: #2a4359;
    padding: 2% 2%;
    border-radius: 0 100px 100px 0;
}

.hide{
    opacity: 0;
    display: none;
    transition: all 0.3s ease-in-out 0s;
}
.hide1{
    opacity: 0;
    /* display: none; */
    transition: all 0.3s ease-in-out 0s;
}
    header{
    margin: 0;
    display: flex;
    justify-content: space-between;
   /* align-items: right;*/
    padding: 0px 400px;
    background-color: #2a4359;
}

.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 15px 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: all .3s ease 0s;
    color: #f2f3f2;
    font-family: 'Roboto', sans-serif;
}
.btn-area {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 30px 5px 30px 10px;
    background: #daa442;        
    transition: all .3s ease 0s;
    width: 250px; 
    padding-top: 20px; 
    padding-bottom: 20px;  
}
.btn-area:hover{ 
    background: blue; 
    transition: all .3s ease 0s;   
    border-radius: 0 30px 0 30px;
}
.wrapper{
    position: absolute;
    top: 2%;
    right: 5%;
}

.wrapper .button{
    margin-top: 2%;
    display: inline-block;
    height: 70px;
    width: 70px;
    box-shadow: 0 10px 10px #daa442;
    float: right;
    margin: 0 5px;
    border-radius: 50px;
    transition: all 0.3s ease-out;
    overflow: hidden;
}
.wrapper .button:hover{
    width: 250px;
}

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}
.wrapper .button span a img{
    margin-top: 5px;
}
.top-container{
    text-align: center;
}
.top-container iframe{
    border-radius: 25px;
    box-shadow: 0 10px 50px #daa442;
}

/* Responsiveness for other Screens using Media Query Starts Here */

@media only screen and (max-width:768px){
    /* Home Page Mobile */
    .symptom{
        padding: 20px;
    }
    .symptom div{
        margin: 3%;
    }
    .symptom div a{
        margin: 2%;
        text-transform: uppercase;
        border: 2px solid #daa442;
        background-color: #2a4359;
        color: #f2f3f2;
        padding:  0% 0.5%;
        border-radius: 100px;
        transition: all 0.3s ease-in-out 0s;
    }
    header {
        padding: 10px 30px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2a4359;
    }
    .nav-area li{
        display: inline-block;
        padding: 2px 1px;
        text-transform: uppercase;
    }
    form{
        position: absolute;
        top: 11%;
        left: 1%;
        width: 100px;
    }
    form input{
        border: 1px solid #daa442;
        outline: none;
        text-transform: uppercase;
        font-size: 10px;
        padding: 2% 2% 2% 5%;
        border-radius: 100px 0 0 100px;
    }
    form button{
        border: 1px solid #daa442;
        background-color:#2a4359;
        text-transform: uppercase;
        font-size: 10px;
        color: white;
        padding: 2% 2%;
        border-radius: 0 100px 100px 0;
    }
    .btn-area {
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        color: #fff;
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 20px 15px;
        border-radius: 30px 0 30px 0;
        background: #daa442;        
        transition: all .3s ease 0s;    
    }
    .btn-area:hover{ 
        background: #daa442; 
        transition: all .3s ease 0s;   
        border-radius: 0 30px 0 30px;
    }
    .wrapper{
        position: absolute;
        top: 1%;
        right: 1%;
    }
    
    .wrapper .button{
        margin-top: 2%;
        display: inline-block;
        height: 60px;
        width: 60px;
        box-shadow: 0 10px 10px #daa442;
        float: right;
        margin: 0 5px;
        border-radius: 30px;
        transition: all 0.3s ease-out;
        overflow: hidden;
    }
    .wrapper .button:hover{
        width: 50px;
    }
    
    .wrapper .button span{
        font-size: 20px;
        font-weight: 500;
        line-height: 60px;
        margin-left: 10px;
    }
    .wrapper .button span a img{
        margin-top: 5px;
    }
}