.border{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    border: 2px solid #ff7171; 
    display: inline-block;
    background-color: #347ea0;
    top: 40%;
    left: 27%;
    transform: translate((-50%,-50%));
    height: 500px;
    width: 920px;
    border-radius: 50px 0 50px 0;
}

.btn-grid button.btn{
    margin: 4% 1%;
    padding: 2% 4%;
    color: #eb3737;
    cursor: pointer;
    border-radius: 100px;
    text-transform: uppercase;
    border: 1px solid #f79494;
    background-color: #ffdcdc;
    transition: all 0.3s ease-in-out 0s;
    outline: none;
}

.btn-grid button.btn:hover{
    background-color: #faa2a2;
    transition: all 0.3s ease-in-out 0s;
}

.start-btn,.result-btn,.next-btn{
    position: absolute;
    outline: none;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 50px;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 20px;
    border: 0px;
    background-color: #ff7171;
    color: white;
    transition: all 0.3s ease-in-out 0s;
}
.start-btn:hover,.next-btn:hover{
    background-color: aqua;
    color: #ff7171;
    border: 2px solid goldenrod;
    transition: all 0.3s ease-in-out 0s;
}
#question-container,.controls{
    text-align: center;
}

#question{
    margin-top: 3%;
    font-size: 30px;
    color: aqua;
}

#result{
    position: absolute;
    bottom: 10%;
    font-size: 40px;
    left: 18%;
    color: goldenrod;
}


.results{
    height: 800px;
    width: 70%;
    border: 2px solid black;
    position: absolute;
    top: 1000px;
    left: 15%;
    border-radius: 50px 0 50px 0;
}

.question-count{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #eb3737;
}
footer{
    background-color: aqua;
    padding: 2% 8%;
    margin-top: 50%;
    color: maroon;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
  }
/* Responsiveness for other Screens using Media Query Starts Here */

@media only screen and (max-width:768px){
    /* Home Page Mobile */

    .border{
        font-family: 'Roboto', sans-serif;
        position: absolute;
        border: 2px solid #ff7171; 
        display: inline-block;
        background-color: #347ea0;
        top: 50%;
        left: 2%;
        transform: translate((-50%,-50%));
        height: 400px;
        width: 400px;
        border-radius: 50px 0 50px 0;

      }
    #question{
        margin-top: 3%;
        font-size: 20px;
        color: aqua;
    }
    #result{
        position: absolute;
        bottom: 3%;
        font-size: 30px;
        left: 18%;
        color: goldenrod;
    }
    .symptom{
        padding: 20px;
    }
    .symptom div{
        margin: 3%;
    }
    .symptom div a{
        margin: 2%;
        text-transform: uppercase;
        border: #70423B;
        background-color: #f8faff;
        color: aqua;
        padding:  0% 0.5%;
        border-radius: 100px;
        transition: all 0.3s ease-in-out 0s;
    }
    header {
        padding: 10px 30px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #d1defa;
    }
    .nav-area li{
        display: flex;
        padding: 20px 20px;
        text-transform: uppercase;
        margin: auto;
    }
    form{
        position: absolute;
        top: 11%;
        left: 1%;
        width: 100px;
    }
    form input{
        border: 1px solid #16516d;
        outline: none;
        text-transform: uppercase;
        font-size: 10px;
        padding: 2% 2% 2% 5%;
        border-radius: 100px 0 0 100px;
    }
    form button{
        border: 1px solid #16516d;
        background-color:#347ea0;
        text-transform: uppercase;
        font-size: 10px;
        color: white;
        padding: 2% 2%;
        border-radius: 0 100px 100px 0;
    }
    .btn-area {
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        color: #fff;
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 20px 15px;
        border-radius: 30px 0 30px 0;
        background: #70423B;        
        transition: all .3s ease 0s;    
    }
    .btn-area:hover{ 
        background: #70423B; 
        transition: all .3s ease 0s;   
        border-radius: 0 30px 0 30px;
    }
    .wrapper{
        position: absolute;
        top: 1%;
        right: 1%;
    }
    .results{
        height: 600px;
        width: 50%;
        border: 2px solid black;
        position: absolute;
        top: 1000px;
        left: 15%;
        border-radius: 50px 0 50px 0;
    }
    .wrapper .button{
        margin-top: 2%;
        display: inline-block;
        height: 60px;
        width: 60px;
        box-shadow: 0 10px 10px #98ded9;
        float: right;
        margin: 0 5px;
        border-radius: 30px;
        transition: all 0.3s ease-out;
        overflow: hidden;
    }
    .wrapper .button:hover{
        width: 50px;
    }
    
    .wrapper .button span{
        font-size: 20px;
        font-weight: 500;
        line-height: 60px;
        margin-left: 10px;
    }
    .wrapper .button span a img{
        margin-top: 5px;
    }
    .btn-grid button.btn{
        margin: 2% 1%;
        padding: 2% 2%;
        color: #eb3737;
        cursor: pointer;
        border-radius: 100px;
    }
    footer{
        background-color: aqua;
        padding: 2% 8%;
        margin-top: 160%;
        color: maroon;
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 500;
      }
}

/* styles.css */

body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
    opacity: .95;
}

.like-btn {
    font-size: 24px; /* Adjust the font size as needed */
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease; /* Add transition effect for smooth animation */
}

.like-btn.liked {
    color: #4CAF50; /* Change color to green when liked */
    transform: scale(1.2); /* Scale up the size of the button when liked */
}

#signup-form{
    text-align: center;
    width: 70%;
    margin: 258px;
    padding: 10px;

}